.menu {
  margin: 20px 0;
}

.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

   a {
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    transition: all 0.6s linear;

    &:hover {
     color: #ffdb4d; 
    }

    &.isCurrent {
      color: #ffdb4d; 
    }
  } 
}

.menu__username {
  color: #ffdb4d;
}