.newScoreForm {
  position: relative;

  .matchPreviewCard {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.newScoreForm__preloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 219, 77, 0.9);

  .preloadBlock__content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .preloadBlock__title {
    font-size: 28px;
  }

  .preloadBlock__img {
    width: 80px;
  }
}
