.blanket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 255, 255, 0.8);
}

.blanket_fail {
  color: #fff;
  background-color: rgba(231, 37, 100, 0.95);
}

.blanket_success {
  color: #fff;
  background-color: rgba(86, 182, 194, 0.95);
}

.blanket__content {
  position: absolute;
  width: 100%;
  top: 50%;
  padding: 0 10%;

  text-align: center;

  transform: translateY(-50%);
}

.blanket__title {
  font-size: 18px;
}

.blanket__description {
  padding: 30px 0;
  font-size: 16px;
  line-height: 1.7;
}