.matchPreviewCard {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff; }

.matchPreviewCard__title {
  font-weight: 300; }
  @media screen and (min-width: 480px) {
    .matchPreviewCard__title {
      margin-bottom: 45px; } }

.matchPreviewCard__table {
  margin: 0 auto;
  padding: 25px;
  border: 6px solid #ffdb4d; }
  @media screen and (min-width: 480px) {
    .matchPreviewCard__table {
      padding: 50px;
      border: 10px solid #ffdb4d; } }
  .matchPreviewCard__table td {
    width: 33.33%; }

.matchPreviewCard__score {
  font-size: 30px;
  font-weight: 500; }

.matchPreviewCard__playerName {
  font-size: 20px; }

.matchPreviewCard__date {
  font-size: 16px;
  font-weight: 300; }

.matchPreviewCard__buttons {
  padding: 40px 0; }
  .matchPreviewCard__buttons .button {
    margin: 10px 0; }
    @media screen and (max-width: 479px) {
      .matchPreviewCard__buttons .button {
        width: 100%; } }
    @media screen and (min-width: 992px) {
      .matchPreviewCard__buttons .button {
        margin: 10px 20px; } }
