.preloadBlock {
}

.preloadBlock_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 219, 77, 0.9);

  .preloadBlock__content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .preloadBlock__title {
    font-size: 28px;
  }

  .preloadBlock__img {
    width: 80px;
  }
}


.preloadBlock__content {
  text-align: center;
}

.preloadBlock__title {
  font-size: 18px;
}

.preloadBlock__imgContainer {
  padding: 15px;
}