.tab__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0; }

.tab__button {
  position: relative;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #FFF;
  border-radius: 0; }
  .tab__button:hover {
    background-color: whitesmoke; }
  .tab__button:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #333; }
  .tab__button:focus {
    outline: 2px solid #a4a4a5;
    outline-offset: -2px; }

.tab__button.isCurrent:before {
  border-color: #ffdb4d; }
