.button {
  display: inline-block;
  padding: 0 50px;
  border: 0;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
  background-color: transparent;
  color: #222;
  border-radius: 0; }
  .button:hover {
    color: #fff;
    background-color: #222; }
  .button:focus {
    color: #fff;
    background-color: #222;
    outline: 2px solid #444;
    outline-offset: -2px; }
  .button:disabled {
    background-color: #a4a4a5 !important;
    cursor: not-allowed; }
  .button:active {
    color: #222;
    background-color: transparent;
    outline: 2px solid #444;
    outline-offset: -2px; }

.button_bgr {
  background-color: #222;
  color: #fff; }
  .button_bgr:hover {
    color: #fff;
    background-color: #444; }
  .button_bgr:focus {
    color: #fff;
    background-color: #444;
    outline: 2px solid #222;
    outline-offset: -2px; }
  .button_bgr:active {
    color: #fff;
    background-color: #666;
    outline: 0; }

.button_bgr_color_red {
  background-color: #e72564; }

.button_brdr {
  outline: 2px solid #222;
  outline-offset: -2px; }
  .button_brdr:hover {
    color: #fff;
    background-color: #444;
    outline: 0; }
  .button_brdr:focus {
    color: #fff;
    background-color: #444;
    outline: 2px solid #222; }
  .button_brdr:active {
    color: #fff;
    background-color: #666;
    outline: 0; }
