$white: #fff;
$main: #222;
$darkmain: #444;
$dakermain: #666;
$red: rgb(231, 37, 100);

.button {
  display: inline-block;
  padding: 0 50px;
  border: 0;

  font-size: 16px;
  line-height: 45px;
  text-decoration: none;

  background-color: transparent;
  color: $main;
  border-radius: 0;


  &:hover {
    color: #fff;
    background-color: $main;
  }

  &:focus {
    color: #fff;
    background-color: $main;
    outline: 2px solid $darkmain;
    outline-offset: -2px;
  }

  &:disabled {
    background-color: #a4a4a5 !important;
    cursor: not-allowed;
  }

  &:active {
    color: $main;
    background-color: transparent;
    outline: 2px solid $darkmain;
    outline-offset: -2px;
  }
}

.button_bgr {
  background-color: $main;
  color: $white;

  &:hover {
    color: #fff;
    background-color: $darkmain;
  }

  &:focus {
    color: #fff;
    background-color: $darkmain;
    outline: 2px solid $main;
    outline-offset: -2px;
  }

  &:active {
    color: $white;
    background-color: $dakermain;
    outline: 0;
  }
}

.button_bgr_color_red {
  background-color: $red;
}

.button_brdr {
  outline: 2px solid $main;
  outline-offset: -2px;

  &:hover {
    color: #fff;
    background-color: $darkmain;
    outline: 0;
  }

  &:focus {
    color: #fff;
    background-color: $darkmain;
    outline: 2px solid $main;
  }

  &:active {
    color: #fff;
    background-color: $dakermain;
    outline: 0;
  }
}
