.form {
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.form__wrap {
  width: 90%;
  margin: 0 auto; }

.form__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px 0; }

.form__header_inverse {
  background-color: #222;
  color: #fff; }

.form__header_yellow {
  background-color: #ffdb4d; }

.form__header_green {
  background-color: #56B6C2;
  color: #fff; }

.form__title {
  font-size: 20px;
  letter-spacing: 1px; }

.form__content {
  padding: 30px 0; }

.form__item + .form__item {
  margin-top: 20px; }

.form__label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px; }
