.input {
  display: block;
  width: 100%;
  padding: 0 1.5rem;
  border: 1px solid #333;
  outline: 0;

  font-size: 18px;
  line-height: 2;

  transition: all 0.6s linear;

  &:focus {
    border: 1px solid #ffdb4d; 
  }

  &:active {
    border: 1px solid #ffdb4d; 
  }
}