.select {
  padding: 0 2.5rem;
  border: 1px solid #333;
  outline: 0;
  font-size: 18px;
  line-height: 2;
  border-radius: 0;
  -webkit-appearance: none;
  transition: all 0.6s linear; }
  .select:focus {
    border: 1px solid #3f7ddb; }
  .select:active {
    border: 1px solid #3f7ddb; }
