@import '../vars.scss';

.table__outer {
  overflow: auto;
}

.table {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0,0,0,.12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    padding-bottom: 3px;
  }

  th {
    position: relative;
    vertical-align: bottom;
    padding: 0 18px 12px 18px;
    text-align: left;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    padding-bottom: 8px;
    box-sizing: border-box;
  }

  th.num,
  td.num {
    text-align: right;
  }

  td {
    position: relative;
    min-height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box;
    text-align: left;
  }

  td.winner {
    font-weight: 600;
  }

  td.loser {
    color: #999;
  }
}

.table_mobile {
  display: block;
  min-width: 100%;

  @media screen and (min-width: $tabletsLandscapeScreen) {
    display: table;
  }

  thead {
    display: none;

    @media screen and (min-width: $tabletsLandscapeScreen) {
      display: table-header-group;
    }
  }

  tbody {
    display: block;
    max-width: 100%;

    @media screen and (min-width: $tabletsLandscapeScreen) {
      display: table-row-group;
    }
  }

  tr {
    display: block;
    max-width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 10px;

    @media screen and (min-width: $phonesScreen) {
      position: relative;
      padding: 10px;
    }

    @media screen and (min-width: $tabletsLandscapeScreen) {
      position: static;
      display: table-row;
      border-bottom: 0;
      padding: 0;
    }
  }

  td {
    display: block;
    border-bottom: 0;
    border-top: 0;
    font-size: 0;

    @media screen and (max-width: $tabletsLandscapeScreen - 1px) {
      padding: 5px 0;
      min-height: 10px;
    }

    @media screen and (min-width: $tabletsLandscapeScreen) {
      display: table-cell;
      border-top: 1px solid rgba(0,0,0,.12);
      border-bottom: 1px solid rgba(0,0,0,.12);
      font-size: 16px;
    }
  }

  td.ratingOrder {
    .table__cellData {
      font-size: 20px;
    }

    @media screen and (min-width: $phonesScreen) {
      position: absolute;
      .table__cellData {
        font-size: 30px;
      }

    }

    @media screen and (min-width: $tabletsLandscapeScreen) {
      position: static;
      .table__cellData {
        font-size: 16px;
      }
    }
  }

  .noMobile {
    display: none;

    @media screen and (min-width: $tabletsLandscapeScreen) {
      display: table-cell;
    }
  }

  td.num {
    text-align: left;

    @media screen and (min-width: $tabletsLandscapeScreen) {
      text-align: right;
    }
  }

  .table__cellData {
    display: block;
    max-width: 100%;
    font-size: 16px;
    white-space: pre-line;

    @media screen and (min-width: $phonesScreen) {
      display: inline-block;
      width: 50%;
    }

    @media screen and (min-width: $tabletsLandscapeScreen) {
      display: inline-block;
      font-size: 16px;
      white-space: nowrap;
    }
  }

}

.table__cellHint {
  display: block;
  margin-bottom: 1px;
  font-size: 14px;
  color: #7c7a7b;

  @media screen and (min-width: $phonesScreen) {
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
    padding-right: 5%;
    text-align: right;
  }

  @media screen and (min-width: $tabletsLandscapeScreen) {
    display: none;
  }
}

.table__link {
  text-decoration: none;
  color: #333;
  transition: all 0.6s linear;

  &:hover {
    color: #ffdb4d;
  }
}
