@import './base.css';
@import './components.css';

body {
  min-width: 320px;
}

.App {
  text-align: left;
}

.App__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App__header {
  padding: 20px 0;
  background-color: #222;
  color: white;
}

.App__title {
  margin: 0;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1.7px;
}

.App__content {
  padding: 40px 0;
}

.logo {
  display: block;
  padding: 10px 0;
  font-size: 0;
}

.logo_img {
  max-width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.baseWrap {
  width: 96%;
  margin: 0 auto;
  max-width: 960px;
}
