* {
  box-sizing: border-box; }

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.button {
  display: inline-block;
  padding: 0 50px;
  border: 0;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
  background-color: transparent;
  color: #222;
  border-radius: 0; }
  .button:hover {
    color: #fff;
    background-color: #222; }
  .button:focus {
    color: #fff;
    background-color: #222;
    outline: 2px solid #444;
    outline-offset: -2px; }
  .button:disabled {
    background-color: #a4a4a5 !important;
    cursor: not-allowed; }
  .button:active {
    color: #222;
    background-color: transparent;
    outline: 2px solid #444;
    outline-offset: -2px; }

.button_bgr {
  background-color: #222;
  color: #fff; }
  .button_bgr:hover {
    color: #fff;
    background-color: #444; }
  .button_bgr:focus {
    color: #fff;
    background-color: #444;
    outline: 2px solid #222;
    outline-offset: -2px; }
  .button_bgr:active {
    color: #fff;
    background-color: #666;
    outline: 0; }

.button_bgr_color_red {
  background-color: #e72564; }

.button_brdr {
  outline: 2px solid #222;
  outline-offset: -2px; }
  .button_brdr:hover {
    color: #fff;
    background-color: #444;
    outline: 0; }
  .button_brdr:focus {
    color: #fff;
    background-color: #444;
    outline: 2px solid #222; }
  .button_brdr:active {
    color: #fff;
    background-color: #666;
    outline: 0; }

.form {
  border: 1px solid rgba(0, 0, 0, 0.12);
  text-align: left;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.form__wrap {
  width: 90%;
  margin: 0 auto; }

.form__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 20px 0; }

.form__header_inverse {
  background-color: #222;
  color: #fff; }

.form__header_yellow {
  background-color: #ffdb4d; }

.form__header_green {
  background-color: #56B6C2;
  color: #fff; }

.form__title {
  font-size: 20px;
  letter-spacing: 1px; }

.form__content {
  padding: 30px 0; }

.form__item + .form__item {
  margin-top: 20px; }

.form__label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px; }

.input {
  display: block;
  width: 100%;
  padding: 0 1.5rem;
  border: 1px solid #333;
  outline: 0;
  font-size: 18px;
  line-height: 2;
  transition: all 0.6s linear; }
  .input:focus {
    border: 1px solid #ffdb4d; }
  .input:active {
    border: 1px solid #ffdb4d; }

.select {
  padding: 0 2.5rem;
  border: 1px solid #333;
  outline: 0;
  font-size: 18px;
  line-height: 2;
  border-radius: 0;
  -webkit-appearance: none;
  transition: all 0.6s linear; }
  .select:focus {
    border: 1px solid #3f7ddb; }
  .select:active {
    border: 1px solid #3f7ddb; }

.table__outer {
  overflow: auto; }

.table {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  .table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    padding-bottom: 3px; }
  .table th {
    position: relative;
    vertical-align: bottom;
    padding: 0 18px 12px 18px;
    text-align: left;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 8px;
    box-sizing: border-box; }
  .table th.num,
  .table td.num {
    text-align: right; }
  .table td {
    position: relative;
    min-height: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px 18px;
    box-sizing: border-box;
    text-align: left; }
  .table td.winner {
    font-weight: 600; }
  .table td.loser {
    color: #999; }

.table_mobile {
  display: block;
  min-width: 100%; }
  @media screen and (min-width: 992px) {
    .table_mobile {
      display: table; } }
  .table_mobile thead {
    display: none; }
    @media screen and (min-width: 992px) {
      .table_mobile thead {
        display: table-header-group; } }
  .table_mobile tbody {
    display: block;
    max-width: 100%; }
    @media screen and (min-width: 992px) {
      .table_mobile tbody {
        display: table-row-group; } }
  .table_mobile tr {
    display: block;
    max-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px; }
    @media screen and (min-width: 480px) {
      .table_mobile tr {
        position: relative;
        padding: 10px; } }
    @media screen and (min-width: 992px) {
      .table_mobile tr {
        position: static;
        display: table-row;
        border-bottom: 0;
        padding: 0; } }
  .table_mobile td {
    display: block;
    border-bottom: 0;
    border-top: 0;
    font-size: 0; }
    @media screen and (max-width: 991px) {
      .table_mobile td {
        padding: 5px 0;
        min-height: 10px; } }
    @media screen and (min-width: 992px) {
      .table_mobile td {
        display: table-cell;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 16px; } }
  .table_mobile td.ratingOrder .table__cellData {
    font-size: 20px; }
  @media screen and (min-width: 480px) {
    .table_mobile td.ratingOrder {
      position: absolute; }
      .table_mobile td.ratingOrder .table__cellData {
        font-size: 30px; } }
  @media screen and (min-width: 992px) {
    .table_mobile td.ratingOrder {
      position: static; }
      .table_mobile td.ratingOrder .table__cellData {
        font-size: 16px; } }
  .table_mobile .noMobile {
    display: none; }
    @media screen and (min-width: 992px) {
      .table_mobile .noMobile {
        display: table-cell; } }
  .table_mobile td.num {
    text-align: left; }
    @media screen and (min-width: 992px) {
      .table_mobile td.num {
        text-align: right; } }
  .table_mobile .table__cellData {
    display: block;
    max-width: 100%;
    font-size: 16px;
    white-space: pre-line; }
    @media screen and (min-width: 480px) {
      .table_mobile .table__cellData {
        display: inline-block;
        width: 50%; } }
    @media screen and (min-width: 992px) {
      .table_mobile .table__cellData {
        display: inline-block;
        font-size: 16px;
        white-space: nowrap; } }

.table__cellHint {
  display: block;
  margin-bottom: 1px;
  font-size: 14px;
  color: #7c7a7b; }
  @media screen and (min-width: 480px) {
    .table__cellHint {
      display: inline-block;
      vertical-align: bottom;
      width: 50%;
      padding-right: 5%;
      text-align: right; } }
  @media screen and (min-width: 992px) {
    .table__cellHint {
      display: none; } }

.table__link {
  text-decoration: none;
  color: #333;
  transition: all 0.6s linear; }
  .table__link:hover {
    color: #ffdb4d; }

.tableOuter__inner {
  max-width: 100%;
  overflow: auto; }

.tableOuter__bottom {
  padding: 20px;
  text-align: center; }
