body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: sans-serif;

  color: #333;
}

input[type='number'],
input[type='date'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}